http_address="0.0.0.0:4180"
provider="github"
set_xauthrequest="true"
skip_provider_button="true"
cookie_refresh="84h0m0s"
redirect_url="http://127.0.0.1:8081/oauth2/callback"
upstreams="http://127.0.0.2:80/"
email_domains=["*"]
client_id="{{ oauth2_proxy_client_id }}"
client_secret="{{ oauth2_proxy_client_secret }}"
cookie_secret="{{ oauth2_proxy_cookie_secret }}"
